/dist
/node_modules
/publish
*.vue.js
*.map
*.log
/**/8.map
.idea
workspace.xml
/src/utils/*.js
/src/store/*.js
/src/router/*.js
/src/pages/*.js
/src/common/*.js
/src/components/*.js
/src/utils/**/*.js
/src/store/**/*.js
/src/router/**/**/*.js
/src/pages/**/*.js
/src/components/**/*.js

/src/*.map
/src/**/*.map
/src/*.js
/src/utils/*.map
/src/store/*.map
/src/router/*.map
/src/pages/*.map
/src/common/*.map
/src/components/*.map
/src/utils/**/*.map
/src/store/**/*.map
/src/router/**/**/*.map
/src/pages/**/*.map
/src/components/**/*.map
/src/common/**/*.js
/src/router/**/*.js
/src/styles/**/*.js
/src/views/**/*.js
/db
ccweb-start-2.0.0-SNAPSHOT.jar
*/ccweb-start-2.0.0-SNAPSHOT.jar
**/ccweb-start-2.0.0-SNAPSHOT.jar
public/service/ccweb-start-2.0.0-SNAPSHOT.jar
/public/web/db